* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
  }

img {
    display: block;
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}

.dark-box {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(..//images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.dark-box-footer {
    padding: 100px 0 100px;
    background-color: #2E2F42;
    display: flex;
    align-items: baseline;
}

.footer-text {
    margin-right: 120px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.dark-box-footer-all {
    display: flex;
    align-items: baseline;
}


.description-header {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    /* line-height: 1.2; */
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    margin-bottom: 8px;
}

.under-image .description-header {
    text-align: center;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    top: 0;
    left: 0;
}

.porfolio-list-point:hover .image-description{
    transform: translateY(0);
}

.description{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.under-image .description {
    text-align: center;
    margin-bottom: 8px;
}

.description-white{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 1.5; */
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* line-height: 1.17; */
    letter-spacing: 0.03em;
    text-align: left;
    color: #4D5AE5;
    text-transform: uppercase;
    margin-right: 76px;

}

footer .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio {
    color: #2E2F42;
}

.logo-studio-white {
    color: #f4f4fd;
}

/* header class */
.navigation-line-header {
    border-bottom: 1px solid #e7e9fc;
    min-height: 72px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
   }

/* div class */
.navigation-line {
    display: flex;
    justify-content: space-evenly;
}

/* nav class */
.navigation-links {
    display: flex;
    align-items: center;

}

/* lista class */
.internal-link-list {
    display: flex;
    gap: 40px;
}

/* punkt w li */
.internal-link{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    /* line-height: 24px; */
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    padding: 24px 0;
    position: relative;
}

.link-active {
    color:#404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .internal-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
} */

.link-active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.internal-link:hover,
.internal-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

/* address class - poziom nav */
.contact {
    font-style: normal;
    display: flex;
}

/* li address */
.contact-link-list {
    display: flex;
    gap: 40px;
}

/* punkt w li address  */
.contact-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 24px; */
    letter-spacing: 0.02em;
    text-align: left;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.dark-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.porfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.porfolio-list:first-child {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-list-point{
    width: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    /* added */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-of-description {
    display: flex;
    gap: 24px;
}

.list-of-description-point {
    width: calc((100% - 3 * 24px) / 4);
}

.title-text {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: 700;
    /* line-height: 1.07; */
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
}

.title-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    /* text-align: left; */
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.title-button:focus,
.title-button:hover {
    background-color: #404bbf;
}


.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.section-header {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    /* line-height: 1.11; */
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.person-in-team {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.description-part {
    padding-top: 120px;
    padding-bottom: 120px;
}

.under-image {
    padding: 32px 0;
}

.porfolio-under-image {
    padding: 32px 16px;
}

.porfolio-list .under-image,
.porfolio-under-image {
    border: 1px solid #e7e9fc;
    border-top: none;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

footer .social-media-list {
    gap: 16px;
}

.social-media-list-point {
    width: 40px;
    height: 40px;
}

.social-media-list:hover
.porfolio-list:hover {
    background-color: #404bbf;
} 

.social-media-list-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-link:hover,
.social-media-list-link:focus {
    background-color: #404bbf;
}

footer .social-media-list-link:hover,
footer .social-media-list-link:focus {
    background-color: #31d0aa;
}

.social-media-icon {
    fill: #f4f4fd;
}